.color-blue {
    color: blue;
<<<<<<< HEAD
    background-color: orange;
=======
    background-color: yellow;
>>>>>>> 9666a0e5a5344e0370670df8f47f577c3cf0359f
}

.color-devB {
    color: red;
}

h1 {
    background-color: orange;
}